[submodule "demodiffusion/collect/hamer"]
	path = demodiffusion/collect/hamer
	url = https://github.com/demodiffusion/hamer.git
[submodule "demodiffusion/deploy/openpi"]
	path = demodiffusion/deploy/openpi
	url = https://github.com/demodiffusion/openpi.git
[submodule "demodiffusion/deploy/manimo"]
	path = demodiffusion/deploy/manimo
	url = https://github.com/demodiffusion/manimo.git
